body{
margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
background:#020617;
padding:15px 30px;
box-shadow:0 2px 10px black;
}

.nav-buttons button{
margin-left:10px;
padding:8px 15px;
background:#38bdf8;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}

.nav-buttons button:hover{
background:#0284c7;
}

/* MAIN */

.main{
width:80%;
margin:auto;
margin-top:30px;
}

.input-box{
text-align:center;
margin-bottom:20px;
}

input{
width:60%;
padding:12px;
border-radius:6px;
border:none;
font-size:16px;
}

button{
padding:12px 20px;
border:none;
background:#22c55e;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#16a34a;
}

/* SECTIONS */

.section{
display:none;
}

.section.active{
display:block;
}

pre{
background:#020617;
padding:20px;
border-radius:10px;
white-space:pre-wrap;
overflow-x:auto;
}

/* LOADING */

#loading{
display:none;
text-align:center;
color:yellow;
margin:10px;
}